body {
  /*background-color: #546E7A;*/
  background-color: #0f222b;
  font-family: sans-serif;
}

h1 {
  font-family: monospace;
  font-size: 16;
  font-weight: bold;
  /*color: #B3E5FC;*/
  color: #69ca62;
}

p {
  font-family: sans-serif;
  color: #CFD8DC;
}

button {
  background-color: #78909C;
  font-family: sans-serif;
}

.center {
  text-align: center;
}
