html {
  font-family: 'Roboto';
  color: #547980;
}

body {
  /*background-color: #594F4F;*/
  /*background-color: #0F222B;*/
  background-image: url("background.png");
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  font-size: 20;
  font-weight: bold;
  /*color: #B3E5FC;*/
  color: #45ADA8;
  text-align: center;
}

p {
  color: #CFD8DC;
}

button {
  background-color: #547980;
}

input {
  background-color: #547980;
}
/*
Colors:
#E5FCC2
#9DE0AD
#45ADA8
#547980
#594F4F
*/
